/.vs/LAB2/v15
/LAB2_CORE/bin/Debug
/LAB2_CORE/obj/Debug
/LAB2_DATA/bin/Debug
/LAB2_DATA/obj/Debug
/LAB2_GUI/bin/Debug
/LAB2_GUI/obj/Debug
/LAB2_SERVICE/bin/Debug
/LAB2_SERVICE/obj/Debug
*/.vs
/.vs
LAB2_DATA/LAB2_DATA.csproj
LAB2_GUI/LAB2_UI.csproj